.Portfolio {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    min-height: 100% !important;
    height: 100% !important;
    max-height: 100% !important;

    overflow: auto !important;
}

.Portfolio-header {
    padding: 0;
    margin: 0;
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    min-height: 10% !important;
    height: 10% !important;
    max-height: 10% !important;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #222;
    color: white;
}

.Portfolio-header>p {
    padding: 0;
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    font-family: primaryFont;
}

.Portfolio-content {
    padding: 0;
    margin: 0;
    margin-top: 2.5% !important;
    margin-left: 5% !important;
    min-width: 90% !important;
    width: 90% !important;
    max-width: 90% !important;
    min-height: 80% !important;
    height: 80% !important;
    max-height: 80% !important;
    border: 1px solid black;
}
