@font-face {
    font-family: primaryFont;
    src: url("vendors/fonts-longreach/DK Longreach.otf");
}

.App {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw !important;
  width: 100vw !important;
  max-width: 100vw !important;
  min-height: 100vh !important;
  height: 100vh !important;
  max-height: 100vh !important;
}

.App-header {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw !important;
  width: 100vw !important;
  max-width: 100vw !important;
  min-height: 5vh !important;
  height: 5vh !important;
  max-height: 5vh !important;
}

.App-navbar {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    min-height: 100% !important;
    height: 100% !important;
    max-height: 100% !important;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: #222;
}

.App-navbar a {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 16.66666666666667% !important;
    width: 16.66666666666667% !important;
    max-width: 16.66666666666667% !important;
    min-height: 100% !important;
    height: 100% !important;
    max-height: 100% !important;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-family: primaryFont;
    text-transform: uppercase;
    background: transparent;
}

@keyframes App-navbar-link-hover {
    from {background-color: transparent;}
    to {background-color: white;}
    from {color: white;}
    to {color: #222;}
}

.App-navbar a:hover {
    animation-name: App-navbar-link-hover;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    text-decoration: none;
}

.App-content {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw !important;
  width: 100vw !important;
  max-width: 100vw !important;
  min-height: 95vh !important;
  height: 95vh !important;
  max-height: 95vh !important;
}
